html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
* {
    box-sizing: border-box!important;
}

html, body {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
.navbar {
    background: #F97300;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-primary {
    background-color: #343a40 !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
}

body {
    width: 100%;
    margin-bottom: 60px;
    background: #FFFBF6;
}

.background-image {
    background-image: url("../Images/train.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

header {
    margin-bottom: 0 !important;
}

main {
    padding: 0 !important;
    margin: 0 !important;
    overflow-y: auto!important;
}

.container {
    margin: 0 !important;
    padding: 0 !important;
}

#index-card {
    border-radius: 10px;
    padding: 20px;
    margin-top: 15%;
}

#index-logo-img {
    width: 60%;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #F97300;
    border-color: #F97300;
}

.btn-primary:hover {
    background-color: #F97300;
    border-color: #F97300;
}

#swap-button {
    background-image: url(../Images/arrows.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-color: white !important;
    margin-top: 10px;
}

.route-text {
    margin: 0;
    font-size: 12px;
}

.show-routes:focus {
    color: black !important;
    font-size: 18px !important;
    outline: none !important;
    box-shadow: none !important;
}

.show-routes {
    color: black !important;
    font-size: 18px !important;
}

.show-routes:hover {
    color: black !important;
    font-size: 18px !important;
}

.ticket-card {
    border-radius: 10px;
    background: #FFF7ED;
    border: 1px solid #000000;
}

.flight-card {
    border-radius: 10px;
    background: #FFF7ED;
    border: 1px solid #000000;
}

.ticket-payment-card {
    border-radius: 10px;
    background: #FFF7ED;
    border: 1px solid #000000;
    margin-right: 10%;
}

main{
    height:100%;
}

footer {
    background: #F97300 !important;
}

#ticketBuyingForm {
    padding:20px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-right:20px;
}

.payment-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.payment-summary {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}