@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<div class="container" >
    <div class="row">
        <div class="col-md-12" style="padding:40px;">
            <h1 class="text-center mb-4">@ViewData["Title"]</h1>

            <h3 class="mb-3">Введение</h3>
            <p>
                Мы принимаем все необходимые меры для защиты конфиденциальности и безопасности наших клиентов и
                посетителей сайта. Эта Политика конфиденциальности объясняет, как мы собираем, используем и
                раскрываем информацию о вас.
            </p>

            <h3 class="mb-3">Информация, которую мы собираем</h3>
            <p>
                Мы можем собирать следующую информацию о вас при использовании нашего сайта или услуг:
            </p>
            <ul>
                <li>Личная информация, такая как ваше имя, адрес электронной почты и номер телефона</li>
                <li>Платежная информация, такая как номер вашей кредитной карты и адрес выставления счетов</li>
                <li>Информация о ваших планах поездки, такая как города отправления и прибытия, даты и предпочтения</li>
                <li>Информация о вашем использовании нашего сайта, такая как IP-адрес, тип браузера и просмотренные страницы</li>
            </ul>

            <h3 class="mb-3">Как мы используем вашу информацию</h3>
            <p>
                Мы можем использовать вашу информацию для следующих целей:
            </p>
            <ul>
                <li>Предоставление и улучшение наших услуг</li>
                <li>Обработка и выполнение ваших заказов</li>
                <li>Общение с вами по вопросам заказов, счетов и других вопросов</li>
                <li>Персонализация вашего опыта на нашем сайте</li>
                <li>Отправка вам маркетинговых и рекламных материалов, если вы дали на это согласие</li>
                <li>Соответствие юридическим и нормативным требованиям</li>
            </ul>

            <h3 class="mb-3">Как мы делимся вашей информацией</h3>
            <p>
                Мы можем делиться вашей информацией с следующими третьими лицами:
            </p>
            <ul>
                <li>Поставщики услуг, такие как обработчики платежей и поставщики аналитики данных</li>
                <li>Партнеры по путешествиям, такие как авиакомпании, отели и туроператоры, для выполнения ваших заказов</li>
                <li>Органы правопорядка и нормативные органы, для соответствия юридическим и нормативным требованиям</li>
            </ul>

            <h3 class="mb-3">Ваши права и выборы</h3>
            <p>
                У вас есть следующие права и выборы в отношении вашей информации:
            </p>
            <ul>
                <li>Вы можете получить доступ, обновить или удалить свою информацию, связавшись с нами</li>
                <li>
                    Вы можете отказаться от получения маркетинговых и рекламных материалов, следуя инструкциям в этих
                    материалах
                </li>
                <li>
                    Вы можете не предоставлять определенную информацию, но это может ограничить ваши возможности
                    использовать наши услуги
                </li>
            </ul>

            <h3 class="mb-3">Безопасность данных</h3>
            <p>
                Мы принимаем разумные меры для защиты вашей информации от несанкционированного доступа, раскрытия,
                изменения и уничтожения. Однако, никакой метод передачи данных по Интернету или электронного хранения не
                может обеспечить 100%-ю безопасность.
            </p>

            <h3 class="mb-3">Изменения в нашей политике</h3>
            <p>
                Мы можем обновлять нашу Политику конфиденциальности
                от времени к времени. В случае внесения существенных изменений мы уведомим вас по электронной почте или разместим
                уведомление на нашем сайте.
            </p>

            <h3 class="mb-3">Свяжитесь с нами</h3>
            <p>
                Если у вас есть вопросы или озабоченности по поводу нашей Политики конфиденциальности, пожалуйста,
                свяжитесь с нами по адресу <a href="mailto:traintrekercomp@mail.ru">traintrekercomp@mail.ru</a>.
            </p>
        </div>
    </div>
</div>
