@page
@model Railway_Passenger_Transportation.Pages.TicketBuyingModel
@{
}

<h1 class="text-center">Покупка билета</h1>

<div class="d-flex justify-content-between align-items-center mt-4">
    <div class="container d-flex">
        <div class="col-md-8 offset-md-2 flex-grow-1">
            <!-- Измените размеры колонок внутри формы -->
            <form id="ticketBuyingForm" asp-page="/Payment" method="get">
                <div class="form-group row">
                    <div class="col-md-3 col-sm-6">
                        <label for="surname">Фамилия</label>
                        <input type="text"
                               class="form-control"
                               id="surname"
                               name="surname" required />
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label for="name">Имя</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name" required />
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label for="patronymic">Отчество</label>
                        <input type="text"
                               class="form-control"
                               id="patronymic"
                               name="patronymic" required />
                    </div>
                </div>
                <div class="form-group row mt-3">

                    <div class="col-md-4 col-sm-6 pl-3 pl-sm-0">
                        <label for="documentNumber">Номер документа</label>
                        <input type="text"
                               class="form-control"
                               id="documentNumber"
                               name="documentNumber" required />
                    </div>
                </div>
                <div class="form-group mt-3 col-md-4 col-sm-6">
                    <label for="category">Категория пассажира</label>
                    <select class="form-control" id="category" name="category" required>
                        <option value="1">Взрослые</option>
                        <option value="2">Дети до 10 лет</option>
                        <option value="3">Дети до 5 лет</option>
                    </select>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-md-4 col-sm-6">
                        <label for="phoneNumber">Телефон</label>
                        <input type="tel" id="phoneNumber" class="form-control" name="phoneNumber" required />
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <label for="email">Эл. почта</label>
                        <input type="email" id="email" name="email" class="form-control" required />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">К оплате</button>
            </form>
        </div>
    </div>
    <div class="card col-md-3 align-self-stretch ticket-payment-card">
        <div class="card-body">
            <h3 class="card-title text-center">Выбранный билет</h3>
            <h5 class="card-title mt-2">@Model.ticket.SeatType</h5>
            <p class="card-text" style="font-size:18px;">
                <strong>Вагон:</strong> @Model.ticket.WagonNumber<br />
                <strong>Номер места:</strong> @Model.ticket.SeatNumber<br />
                <strong>Цена:</strong> @Model.ticket.Price<br />
            </p>
        </div>
    </div>
</div>
